.calendar {
  background: #eeeeee;
}

.calendar__row {
  display: flex;
}

.calendar__days {
  background: #dddddd;
}

.calendar__header {
  background: #17bc9b;
}

.calendar__cell {
  flex: 1;
  text-align: center;
}